.cover-img {
    height: 20vh;
    border-radius: 0.2vw;
}
.profile{
    position: absolute;
    top: 7.5vw;
    left: 3vw;
}
.profile-photo {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    border-radius: 50%;
  }

  @media (max-width:576px) {
    
    .profile{
        position: absolute;
        top: 16.5vh;
        left: 3vw;
    }

  }